html {
    background-image: linear-gradient( white, white, rgba(3, 213, 255),rgba(3, 213, 255));
}

.container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 250px 435px 70px 70px 70px;
    grid-gap: 10px;
}


.box5 {
    background-color: lightgray;
    
}

.box11 {
    background-color: lightgrey;
}


