html {
    background-image: linear-gradient(white, white, rgba(3, 213, 255), rgba(3, 213, 255));

}

@font-face {
    font-family: myFont;
    src: url(fonts/Valorant\ Font.ttf);
}

html {
    font-family: myFont;
}

a:hover {
    color: grey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 250px 453px 70px 70px 70px;
    grid-gap: 10px;
}


.box1 {
    display: grid;
    grid-template-columns: 1fr 0.175fr 2fr;
    background-color: lightgray;
    grid-row: 2/2;
    grid-column: 3/2;
    border: 10px solid black;
    padding: 10px;


}

.box2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    background-color: lightgrey;
    grid-row: 5/4;
    grid-column: 2/2;
    border: 10px solid black;

}

.box3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
}

.logo {
    grid-row: 1/2;
    grid-column: 2/1;
    height: 250px;
}

nav {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: lightgray;
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    border: 10px solid black;
}

nav a {
    margin: 0px 70px;
    font-size: 21px;
    text-decoration: none;
    color: black;
}

.dproduct {
    height: 440px;
    justify-self: center;
}

.line {
    border-left: 3px solid black;
    grid-column: 2/3;
    height: 400px;
}


.text {
    justify-self: center;
}

h1 {
    font-size: 50px;
    justify-self: center;
}

h2 {
    font-size: 25px;
}

.text2 {
    align-self: top;
    font-size: 30px;
    justify-self: center;
    align-self: center;
}

.text3 {
    align-self: top;
    font-size: 30px;
    justify-self: center;
    align-self: center;
}

.text4 {
    align-self: top;
    font-size: 16px;
    justify-self: center;
    align-self: center;
}